snippet desc
	describe "${1}" do
	  ${2}
	end
snippet itd
	it "${1}" do
	  ${2}
	end
snippet exptc
	expect { ${1} }.
	  to change { ${2} }.from(${3}).to(${4})
snippet let
	let(:${1}) { ${2} }
snippet reqr
	require_relative "${1}"${2}
